version: '3.3'

services:

    db:
        image: postgres
        container_name: database
        ports:
          - 5432:5432
        volumes:
          - ./postgres:/var/lib/postgresql
        environment:
          POSTGRES_USER: $PG_USER
          POSTGRES_PASSWORD: $PG_PASSWORD
          POSTGRES_DB: $PG_NAME
        networks:
          - tg_bot
        env_file:
          - ".env"

    bot:
        image: "${BOT_IMAGE_NAME:-tg_bot-image}"
        container_name: "${BOT_CONTAINER_NAME:-tg_bot-container}"
        stop_signal: SIGINT
        build:
          context: .
        working_dir: "/usr/src/app/${BOT_NAME:-tg_bot}"
        volumes:
        - .:/usr/src/app/${BOT_NAME:-tg_bot}
        command: python3 -m bot
        restart: always
        env_file:
          - ".env"
        networks:
        - tg_bot

    adminer:
        image: adminer
        restart: always
        ports:
          - 8080:8080

networks:
  tg_bot:
    driver: bridge